<launch>
  <arg name="multiNum" default="2"/>

  <node name="number_publisher"   pkg="rosLecture_kobe" type="number_publisher" >
    <remap from="chatter" to="number"/>
  </node>
  <node name="number_multiplier_arg"   pkg="rosLecture_kobe" type="number_multiplier_arg" >
	  <remap from="result" to="chatter"/>
    <param name="multiNum" value="$(arg multiNum)"/>
  </node>
  <node name="number_subscriber" pkg="rosLecture_kobe" type="number_subscriber" output="screen"/>
</launch>